# Created by .ignore support plugin (hsz.mobi)
/node_modules/
/.idea/
*.iml
/target/
/database/db.mv.db
webpack.config.js
webpack.generated.js

# Compiled class file
*.class

# Eclipse
/.settings
.classpath
.project
/database/db.trace.db
