.droptarget {
    transition: all 0.3s ease;
    border: 1px solid transparent;
}

.focus {
    border: 1px solid var(--lumo-primary-color-50pct);
    background: #f9f9f9 !important;
}

.dragover {
    border: 1px solid var(--lumo-primary-color-50pct);
    background: #eaeaea !important;
}

html {
    --lumo-base-color: #fafafa;
}

.design-view {
    box-shadow: var(--lumo-box-shadow-s);
    background-color: var(--lumo-primary-contrast-color);
    background-image: linear-gradient(var(--lumo-contrast-10pct) -1px, transparent 1px),
    linear-gradient(90deg, var(--lumo-contrast-10pct) 0px, transparent 0px),
    linear-gradient(var(--lumo-contrast-5pct) 1px, transparent 1px),
    linear-gradient(90deg, var(--lumo-contrast-5pct) 1px, transparent 0px);
    background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.design-view > * {
    box-shadow: var(--lumo-box-shadow-s);
    background: white;
}

.design-holder {
    min-width: 200px;
    min-height: 100px;
    box-shadow: var(--lumo-box-shadow-l);
    border-radius: var(--lumo-border-radius);
}